---
layout: default
title: tag posts
searchtag: "blog"
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[0] }}#{{ tag[1].size | minus: 1 | times: stepsize | plus: minsize }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort %}
<div class="post">
<h1>Tag</h1>
<p>
[<a href="{{ page.url }}">No filter</a>] 
{% for filtertemptag in sortedtemptags %}
  {% assign filtertag = filtertemptag | split: '#' %}
 • [<a href="{{ page.url }}?searchtag={{ filtertag[0] }}">{{ filtertag[0] }}&nbsp;{{ filtertag[2] }}</a>] 
{% endfor %}
</p>
{% for temptag in sortedtemptags %}
  {% assign tag = temptag | split: '#' %}

  {% assign searchtag = tag[0] %}
  <div class="tag_section hide_section" id="tag_{{searchtag}}" style="display: none">
  <h2>{{searchtag}} ({{ tag[2] }})</h2>
  <ul>
  {% for post in site.posts %}
    {% if post.tags contains searchtag %}
      <!--div class="tag_post"><a href="{{ post.url }}">{{ post.title }} | {{ post.url }}</a></div-->
      <li class="tag_post"><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
  </div>
{% endfor %}
</div>
<script>
const paramsString = window.location.search;
const searchParams = new URLSearchParams(paramsString);
const searchtag = searchParams.get("searchtag");

if(searchtag)
{
    if(searchtag == '*')
	{
		//$([id^=tag_section]).show();
		$( ".tag_section" ).css( "display", "block" );
	}
	else
	{
		const element = document.getElementById("tag_"+searchtag);
		if(element)
		{
			element.style.display="block";
			//$( "#"+searchtag ).css( "display", "block" );
		}
	}
}
else
{
	$( ".tag_section" ).css( "display", "block" );
}
</script>